{include file="pub/head"}
<title>用户管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c"> 日期范围：
        {literal}

        <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}' })" id="datemin" class="input-text Wdate" style="width:120px;">
		-
		<input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d' })" id="datemax" class="input-text Wdate" style="width:120px;">
        {/literal}
		<input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">
		<button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
	</div>
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a href="javascript:;" onclick="member_add('添加比赛','{:url(\'tianjia\')}','','510')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加比赛信息</a></span> <span class="r">共有数据：<strong>88</strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">


                <th width="80">编号</th>


				<th width="100">比赛时间</th>
				<th width="80">比赛名称</th>
				<th width="130">比赛项目</th>
				<th width="90">比赛阶段</th>
				<th width="60">a运动员</th>
				<th width="60">b运动员</th>
				<th width="60">大比分</th>
				<th width="60">小比分</th>


				<th width="100">状态</th>
				<th width="160">操作</th>
			</tr>
		</thead>
		<tbody>
        {volist name="infos" id="v"}
			<tr class="text-c">

				<td>{$v.id}</td>
				<td>{$v.game_date}</td>
				<td>{$v.game_name}</td>
				<td >{$v.game_project}</td>
				<td>{$v.game_stage}</td>
				<td>{$userinfo[$v.user_a]}</td>
				<td>{$userinfo[$v.user_b]}</td>
				<td>{$v.big}</td>
				<td>{$v.small}</td>







				<td  id="{$v.id}">
					{if condition="$v.states==1" }
					已上线
					{else /}
					已下线
					{/if}
				</td>


				<td class="td-manage">

					<input type="button" class="btn btn-success" value="上线" onclick="on(this,'{$v.id}')" />
					<input type="button" class="btn btn-danger"   value="下线" onclick="on(this,'{$v.id}')" />

				</td>
			</tr>
        {/volist}
		</tbody>
	</table>
	</div>
</div>



{include file="pub/head"}
{include file="data/js_score"}